<div class="container">
    <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="d-flex flex-column form-group">
            <label>Nom</label>
            <input formControlName="nom" type="text">
        </div>
        <div class="d-flex flex-column form-group">
            <label>Email</label>
            <input formControlName="email" type="email">
        </div>
        <div class="d-flex flex-column form-group">
            <label>Mot de passe</label>
            <input formControlName="password" type="password">
        </div>
        <div class="d-flex flex-column form-group">
            <label>Confirmation</label>
            <input formControlName="confirmation" type="password">
        </div>
        <button class="btn btn-primary">Valider</button>
    </form>
</div>